        #menu {
            display: flex;
        }
        #menu a {
            margin-right: 5px;
            padding: 10px;
            font: 15px Arial;
            text-decoration: none;
            color: #ffffff;
            border: 1px solid #084300;
            background-color: rgb(4, 228, 131);
        }
        #menu a:hover, #menu a.active {
            color: blue;
            border: 1px solid blue;
            background-color: #F5F6FA;
        }

        #menu2 {
            display: flex;
            flex-direction: column;
            width: 150px;
        }
        #menu2 a {
            margin-bottom: 5px;
            padding: 10px;
            font: 15px Arial;
            text-decoration: none;
            color: #ffffff;
            border: 1px solid #084300;
            background-color: rgb(4, 228, 131);
        }
        #menu2 a:hover, #menu2 a.active {
            color: blue;
            border: 1px solid blue;
            background-color: #F5F6FA;
        }

        #menu3 {
            display: flex;
        }
        #menu3 a {
            padding: 10px;
            font: 15px Arial;
            text-decoration: none;
            color: #ffffff;
            background-color: rgb(4, 228, 131);
        }
        #menu3 a:hover, #menu3 a.active {
            color: rgb(255, 255, 255);
            background-color:  rgb(12, 144, 87);
        }
             #wrapper {
            width: 800px;
            margin: 50px auto;
            border: 1px solid black;
        }

        #menu4 {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            background-color: #484848;
        }
        #menu4 a {
            margin: 0 5px;
            padding: 15px 25px;
            text-decoration: none;
            color: #fff;
            font: bold 14px Arial;
        }
        #menu4 a:hover, #menu a.active {
            color: #484848;
            background-color: #fff;
        }
         #content {
            padding: 0 30px 20px;
        }
        #content h1 {
            text-align: center;
            margin-top: 0;
            margin-bottom: 10px;
            font: bold 24px Arial;
        }
        #content p {
            padding: 0 10px;
            margin-bottom: 5px;
            font: 18px/1.3 Arial;
            text-align: justify;
        }
        #content strong {
            font-weight: bold;
        }
        