#elem {
	width: 300px;
	height: 100px;
	color: white;
	background-color: orange; 
}
#elem1 {
	width: 300px;
	height: 300px;
	color: white;
	background-color: blue; 
}
#elem2  {
	width: 300px;
	height: 100px;
	color: white;
	background-color: green; 
}
#elem3 {
	border-width: 4px;    
	border-style: solid;  
	border-color: blue;    
	width: 300px;
	height: 100px;
}
#elem4 {
	border-width: 5px;
	border-style: dotted;
	border-color: red;
	width: 300px;
	height: 100px;
}
#elem5 {
	border-width: 4px;
	border-style: dashed;
	border-color: orange;
	width: 300px;
	height: 100px;
}
#elem6 {
	border-width: 5px;
	border-style: double;
	border-color: blue;
	width: 300px;
	height: 100px;
}
#elem7 {
	width: 300px;
	height: 100px;
	border-left: 2px solid red;
	border-right: 2px solid green;
}
#elem8 {
	width: 200px;
	height: 200px;
	border: 3px solid green;
	border-radius: 10px;
}
#elem9 {
	border-radius: 20px;
	width: 200px;
	height: 200px;
	background-color: #00ffb3;
}
#elem10 {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: 1px solid red;
}
#elem11 {
	width: 300px;
	height: 100px;
	border: 1px solid red;
	border-radius: 10px 20px 30px 40px;
}
#elem12 {
	width: 300px;
	height: 100px;
	border: 1px solid red;
	border-radius: 10px 20px 30px;
}
ul {
	list-style-type: square;
}
ol {
	list-style-type: lower-greek;
}
#parent {
	width: 300px;
	border: 1px solid red;
}
#child {
	margin-top:    10px; 
	margin-right:  20px; 
	margin-bottom: 30px; 
	margin-left:   40px; 
	
	height: 100px;
	border: 1px solid green;
}
#elem {
	padding: 30px;
	width: 300px;
	border: 1px solid red;
	text-align: justify;
}
#elem13 {
	width: 100px;
	height: 100px;
	background: #f1f1f1;
	margin-bottom: 20px;
}
#elem14 {
	width: 100px;
	height: 100px;
	background: #f1f1f1;
	padding: 25px; 
	border: 10px solid green;  
}
span {
	display: block;
	width: 100px;
	height: 100px;
	border: 1px solid red;
	margin-bottom: 20px;
}
.parent {
	text-align: center;
	padding: 10px 0;
	border: 1px solid red;
}
.child {
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid green;
}
#elem0 {
	padding-top:    10px; 
	padding-right:  20px; 
	padding-bottom: 30px; 
	padding-left:   40px; 
	
	width: 300px;
	border-top: 2px solid purple;
	border-right: 2px solid blue;
	border-bottom: 2px solid green;
	border-left: 2px solid orange;
	text-align: justify;
}
.parent1 {
	text-align: center;
	padding: 10px 0;
	border: 1px solid red;
}
.child1 {
	border: 1px solid green;
}